<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>404 | Faster.my.to</title>

    <link rel="icon" href="https://cdn.discordapp.com/attachments/1079817087637278750/1134503783896977428/faster.png" type="image/x-icon" />
  </head>
  <body>
    <center>
      <h1>404</h1>
      <h4>That slug does not exist.</h4>
    </center>
  </body>
</html>
