<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Stats | Faster.my.to</title>

    <link rel="icon" href="https://cdn.discordapp.com/attachments/1079817087637278750/1134503783896977428/faster.png" type="image/x-icon" />
  </head>
  <body>
    <center>
      <a class="title" href="./" style="text-decoration: none;">
        <h1>Faster.my.to</h1>
      </a>
      <br />
      <form>
        <div>
          <input
            type="text"
            name="slug"
            placeholder="enter a slug"
            style="margin-top: 10px;"
            required
          />
        </div>
        <br />
        <input type="submit" value="find" />
      </form>
      <br />
      <div id="response"></div>
    </center>
  </body>
  <script src="./stats.js"></script>
</html>
